# Server Configuration
PORT=:8080
SERVER_CONTEXT_PATH=/v1

# Database Configuration
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_NAME=root
MYSQL_PASS=agresia
MYSQL_DB_NAME=basic_trade_api
MYSQL_DRIVER_NAME=mysql
DB_DRIVER_CLASS=com.mysql.cj.jdbc.Driver